// Color system
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #7C7C7C; // altered
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #162899; // altered
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f04165; // altered
$orange: #fd7e14;
$yellow: #f1c23e; // altered
$green: #4ad05b; // altered
$teal: #20c997;
$cyan:#3d58ff; // altered

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-300;
$dark: $gray-800;
